doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/main.css")
        title YouTube
    body 
        section.header 
            .container
                .header--left
                    img(src="../assets/icon/menu.svg", alt="menu").header--left__icon-menu
                    img(src="../assets/logo/youtube-logo.svg", alt="youtub-logo").header__you-tube__logo
                .header--center
                    form.header--center__form
                        input(type="text" placeholder="Search").header--center__form__search-input
                        button.header__search__btn #[img(src="../assets/icon/search.svg", alt="search").search--icon]
                .header--right
                    a(href="#").header--right__icon #[img(src="../assets/icon/header-button--icon1.svg", alt="icon-zoom")]
                    a(href="#").header--right__icon #[img(src="../assets/icon/header-button-icon2.svg", alt="icon-zoom")]
                    a(href="#").header--right__icon #[img(src="../assets/icon/header-button--icon3.svg", alt="icon-zoom")]
                    a(href="#").header--right__icon #[img(src="../assets/icon/sub-photo.svg", alt="icon-zoom")]

        main.main   
            section.main--section
                .container 
                    .main--section--left 
                        ol.main--section--left__list 
                            li.main--section--left__list1 #[a(href="#") Home] 
                            li.main--section--left__list2 #[a(href="#") Trends] 
                            li.main--section--left__list3 #[a(href="#") Subscriptions] 
                            li.main--section--left__list4 #[a(href="#") Originals] 
                        .main--section--left__hr

                        ol.main--section--left__list 
                            li.main--section--left__list1.main--section--left__list1_1 #[a(href="#") Library] 
                            li.main--section--left__list2.main--section--left__list2_2 #[a(href="#") History] 
                            li.main--section--left__list3.main--section--left__list3_3 #[a(href="#") Your videos] 
                            li.main--section--left__list4.main--section--left__list4_4 #[a(href="#") Watch later] 
                            li.main--section--left__list4.main--section--left__list5 #[a(href="#") Originals] 

                            select.main--section--left__select
                                option(value="0").main--section--left__select__option Show more 
                                option(value="1").main--section--left__select__option Show more2
                                option(value="2").main--section--left__select__option Show more3
                                option(value="3").main--section--left__select__option Show more4 
                                option(value="4").main--section--left__select__option Show more5
                                option(value="5").main--section--left__select__option Show more6 
                                option(value="6").main--section--left__select__option Show more7 
                        .main--section--left__hr

                        ol.main--section--left__list.main--section--left__list--end 
                            h2.main--section--left__list__h2 SUBRCRIPTIONS 
                            li.main--section--left__list1.main--section--left__list1_3 #[a(href="#") Adem Ilter] #[div.subr__div]  
                            li.main--section--left__list2.main--section--left__list2_3 #[a(href="#") Coşkun Aral Anlatıy...] #[div.subr__div] 
                            li.main--section--left__list3.main--section--left__list3__3 #[a(href="#") Yiğit Can İÇ] #[div.subr__div] 
                            li.main--section--left__list4.main--section--left__list4_3 #[a(href="#") AQUAHOLIC] #[div.subr__div4]
                            li.main--section--left__list4.main--section--left__list5_3 #[a(href="#") yener ustun] #[div.subr__div5]
                            li.main--section--left__list4.main--section--left__list6_3 #[a(href="#") SparkFun Electroni...] #[div.subr__div]
                            
                            select.main--section--left__select
                                    option(value="0").main--section--left__select__option Show more 
                                    option(value="1").main--section--left__select__option Show more2
                                    option(value="2").main--section--left__select__option Show more3
                                    option(value="3").main--section--left__select__option Show more4 
                                    option(value="4").main--section--left__select__option Show more5
                                    option(value="5").main--section--left__select__option Show more6 
                                    option(value="6").main--section--left__select__option Show more7 
                                    
                        .main--section--left__hr
                    .main--section--right
                        .main--section--right__header
                            ol.main--section--right__header__list
                                li.main--section--right__header__list__item #[a(href="#") All] 
                                li.main--section--right__header__list__item #[a(href="#") Yatchs] 
                                li.main--section--right__header__list__item #[a(href="#") Boats] 
                                li.main--section--right__header__list__item #[a(href="#") RVs] 
                                li.main--section--right__header__list__item #[a(href="#") Electrical Engineering] 
                                li.main--section--right__header__list__item #[a(href="#") Photocopier] 
                                li.main--section--right__header__list__item #[a(href="#") Cookery] 
                                li.main--section--right__header__list__item #[a(href="#") Apple] 
                                li.main--section--right__header__list__item #[a(href="#") CSS] 
                                li.main--section--right__header__list__item #[a(href="#") Figma] 
                                li.main--section--right__header__list__item #[a(href="#") Astronomy ] 
                                li.main--section--right__header__list__item #[a(href="#") React routers ] 
                                li.main--section--right__header__list__item #[a(href="#") Motorcycles]
                                li.main--section--right__header__list__item #[a(href="#") Motorcycles]
                                 

                                img(src="../assets/icon/right-arrow.svg", alt="icon").next__icon

                        .main--section--right__main 
                            ol.main--section--right__main__list 
                                li.main--section--right__main__list__item 
                                    img(src="../assets/images/content-video-thumbnail.svg", alt="rasm").main--section--right__main__list__item 
                                    .cards__profil 
                                        img(src="../assets/icon/cards__img1.svg", alt="profil").cards--profil__img
                                        h3.cards--profil__h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100
                                    p.cards--profil__desc1 Yiğit Can İÇ
                                    p.cards--profil__desc2 27K views • 1 day ago

                                li.main--section--right__main__list__item 
                                    img(src="../assets/images/cards_img2.svg", alt="rasm").main--section--right__main__list__item 
                                    .cards__profil 
                                        img(src="../assets/icon/cards_img-s2.svg", alt="profil").cards--profil__img
                                        h3.cards--profil__h3 Her Derde Deva: CSS Flexbox
                                    p.cards--profil__desc1  Adem Ilter
                                    p.cards--profil__desc2 16K views • 2 year ago
                                
                                li.main--section--right__main__list__item 
                                    img(src="../assets/images/cards_img3.svg", alt="rasm").main--section--right__main__list__item 
                                    .cards__profil 
                                        img(src="../assets/icon/cards_img-s3.svg", alt="profil").cards--profil__img
                                        h3.cards--profil__h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100
                                    p.cards--profil__desc1 Coşkun Aral Anlatıyor
                                    p.cards--profil__desc2 26K views • 1 week ago

                                li.main--section--right__main__list__item 
                                    img(src="../assets/images/cards_img4.svg", alt="rasm").main--section--right__main__list__item 
                                    .cards__profil 
                                        img(src="../assets/icon/cards_img-s4.svg", alt="profil").cards--profil__img
                                        h3.cards--profil__h3 Product Showcase: SparkFun #[br] MicroMod Ecosystem
                                    p.cards--profil__desc1 SparkFun Electronics
                                    p.cards--profil__desc2 2.3K views • 4 day ago

                                li.main--section--right__main__list__item 
                                    img(src="../assets/images/cards_img5.svg", alt="rasm").main--section--right__main__list__item 
                                    .cards__profil 
                                        img(src="../assets/icon/cards_img-s5.svg", alt="profil").cards--profil__img
                                        h3.cards--profil__h3 SAVOTTA JÄÄKÄRI L SIRT ÇANTASI #[br] VE SAVOTTA...
                                    p.cards--profil__desc1 yener ustun
                                    p.cards--profil__desc2 1K views • 9 months ago

                                li.main--section--right__main__list__item 
                                    img(src="../assets/images/cards_img6.svg", alt="rasm").main--section--right__main__list__item 
                                    .cards__profil 
                                        img(src="../assets/icon/cards_img-s6.svg", alt="profil").cards--profil__img
                                        h3.cards--profil__h3 £940,000 Yatch Your : Princess #[br] F50
                                    p.cards--profil__desc1 AQUAHOLIC
                                    p.cards--profil__desc2 49K views • 21 hours ago

                                li.main--section--right__main__list__item 
                                    img(src="../assets/images/cards_img7.svg", alt="rasm").main--section--right__main__list__item 
                                    .cards__profil 
                                        img(src="../assets/icon/cards_img-s7.svg", alt="profil").cards--profil__img
                                        h3.cards--profil__h3 Alev Tahta Kurusu - pyrrhocoris #[br] apterus
                                    p.cards--profil__desc1 İbrahim Sargın
                                    p.cards--profil__desc2 5.8K views • 2 week ago

                                li.main--section--right__main__list__item 
                                    img(src="../assets/images/cards_img8.svg", alt="rasm").main--section--right__main__list__item 
                                    .cards__profil 
                                        img(src="../assets/icon/cards_img-s8.svg", alt="profil").cards--profil__img
                                        h3.cards--profil__h3 iPad Air - Kutu Açılışı ve İlk #[br] İzlenimler (4. Nesil)
                                    p.cards--profil__desc1 iPhonedo Turkey
                                    p.cards--profil__desc2 108K views • 1 day ago

                                li.main--section--right__main__list__item 
                                    img(src="../assets/images/cards_img9.svg", alt="rasm").main--section--right__main__list__item 
                                    .cards__profil 
                                        img(src="../assets/icon/cards__img1.svg", alt="profil").cards--profil__img
                                        h3.cards--profil__h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100
                                    p.cards--profil__desc1 Yiğit Can İÇ
                                    p.cards--profil__desc2 27K views • 1 day ago

                                li.main--section--right__main__list__item 
                                    img(src="../assets/images/cards_img10.svg", alt="rasm").main--section--right__main__list__item 
                                    .cards__profil 
                                        img(src="../assets/icon/cards__img1.svg", alt="profil").cards--profil__img
                                        h3.cards--profil__h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100
                                    p.cards--profil__desc1 Yiğit Can İÇ
                                    p.cards--profil__desc2 27K views • 1 day ago

                                li.main--section--right__main__list__item 
                                    img(src="../assets/images/cards_img11.svg", alt="rasm").main--section--right__main__list__item 
                                    .cards__profil 
                                        img(src="../assets/icon/cards__img1.svg", alt="profil").cards--profil__img
                                        h3.cards--profil__h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100
                                    p.cards--profil__desc1 Yiğit Can İÇ
                                    p.cards--profil__desc2 27K views • 1 day ago

                                li.main--section--right__main__list__item 
                                    img(src="../assets/images/cards_img12.svg", alt="rasm").main--section--right__main__list__item 
                                    .cards__profil 
                                        img(src="../assets/icon/cards__img1.svg", alt="profil").cards--profil__img
                                        h3.cards--profil__h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100
                                    p.cards--profil__desc1 Yiğit Can İÇ
                                    p.cards--profil__desc2 27K views • 1 day ago

                                

                                



